// COLORS
:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/pattern-background-mobile.svg);
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: 100% 33%;
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--pale-blue);
    height: calc(100vh - 0.1px);
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1440px){
        background-image: url(../images/pattern-background-desktop.svg);
        background-position: top 0 left 0;
        background-repeat: no-repeat;
        background-size: 100% 33%;
    }
}